body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper-container {
  background: #efefef;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-form {
    height: 92vh;
    width: 98%;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .container-content {
      display: flex;
      justify-content: space-between;
    }
    .form-group {
      padding: 30px !important;
      width: 45% !important;
      border-right: 1px solid #b7b7b7 !important;
      .css-1nrlq1o-MuiFormControl-root {
        width: 100% !important;
      }
      .field-container-wireless {
        justify-content: space-evenly !important;
        display: flex !important;
        flex-direction: row-reverse !important;
        align-items: center !important;
        width: 91% !important;
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
          width: 55% !important;
          .css-186xcr5 {
            display: none !important;
          }
        }
      }
      .radio-group {
      }
      .fields-group {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        .field-container {
          width: 80% !important;
          display: flex !important;
          justify-content: space-between !important;
          align-items: center !important;
          padding-bottom: 15px !important;
          position: relative !important;
          .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
            flex-grow: 1;
          }
          .css-1wc848c-MuiFormHelperText-root {
            width: 20% !important;
            color: #000 !important;
            font-size: 14px !important;
          }
          .css-1wc848c-MuiFormHelperText-root.Mui-disabled {
            color: #a3a3a3 !important;
          }
          .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 80% !important;
            display: flex !important;
            flex-direction: row-reverse !important;
            align-items: center !important;
          }
        }
      }
      .css-u4tvz2-MuiFormLabel-root {
        font-weight: 600 !important;
        color: #000 !important;
      }
    }
  }
  .btns {
    border: 1px solid #b7b7b7 !important ;
    height: 5% !important;
    border: 1px solid #b7b7b7 !important;
    height: 5% !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 20px !important;
    .submit {
      width: 90px !important;
      height: 35px !important;
      background: #c9f3ff !important;
      border-radius: 30px !important;
      border: none !important;
      outline: none !important;
      transition: 0.3s !important;
      margin-right: 15px !important;
      &:hover {
        background: darken(#c9f3ff, 10%) !important;
      }
    }
    .cancel {
      width: 90px !important;
      height: 35px !important;
      border-radius: 30px !important;
      border: 1px solid #c9f3ff !important;
      background: transparent;
      outline: none;
      transition: 0.3s;
      &:hover {
        background: lighten(#2389a5, 40%);
      }
    }
  }
  .field-container-wireless {
    .css-i4bv87-MuiSvgIcon-root {
      border: 1px solid #b7b7b7;
      border-radius: 30px;
      fill: #b7b7b7;
    }
  }
}
.required {
  position: absolute;
  right: 25%;
  color: red;
}
