body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper-container {
  background: #efefef;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-form {
    height: 92vh;
    width: 98%;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .container-content {
      display: flex;
      justify-content: space-between;
    }
    .form-group {
      padding: 30px !important;
      width: 45% !important;
      border-right: 1px solid #b7b7b7 !important;
      .css-1nrlq1o-MuiFormControl-root {
        width: 100% !important;
      }
      .field-container-wireless {
        justify-content: space-evenly !important;
        display: flex !important;
        flex-direction: row-reverse !important;
        align-items: center !important;
        width: 91% !important;
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
          width: 55% !important;
          .css-186xcr5 {
            display: none !important;
          }
        }
      }
      .radio-group {
      }
      .fields-group {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .field-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 15px;
          position: relative;
          .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
            flex-grow: 1;
          }
          .css-1wc848c-MuiFormHelperText-root {
            width: 20%;
            color: #000;
            font-size: 14px;
          }
          .css-1wc848c-MuiFormHelperText-root.Mui-disabled {
            color: #a3a3a3;
          }
          .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 80%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
          }
        }
      }
      .css-u4tvz2-MuiFormLabel-root {
        font-weight: 600;
        color: #000;
      }
    }
  }
  .btns {
    border: 1px solid #b7b7b7;
    height: 5%;
    border: 1px solid #b7b7b7;
    height: 5%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .submit {
      width: 90px;
      height: 35px;
      background: #c9f3ff;
      border-radius: 30px;
      border: none;
      outline: none;
      transition: 0.3s;
      margin-right: 15px;
      &:hover {
        background: darken(#c9f3ff, 10%);
      }
    }
    .cancel {
      width: 90px;
      height: 35px;
      border-radius: 30px;
      border: 1px solid #c9f3ff;
      background: transparent;
      outline: none;
      transition: 0.3s;
      &:hover {
        background: lighten(#2389a5, 40%);
      }
    }
  }
  .field-container-wireless {
    .css-i4bv87-MuiSvgIcon-root {
      border: 1px solid #b7b7b7;
      border-radius: 30px;
      fill: #b7b7b7;
    }
  }
}
.required {
  position: absolute;
  right: 25%;
  color: red;
}
.MuiFormControl-root.MuiTextField-root.css-i44wyl {
  flex-direction: row-reverse;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  padding-right: 147px;
}
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-disabled.MuiInputBase-formControl.css-1v4ccyo,
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1v4ccyo {
  width: 50%;
}
.MuiOutlinedInput-input.MuiInputBase-inpuy.Mui-disabled.css-1x5jdmq {
  flex-grow: 1;
}
.ip-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.MuiFormControl-root.css-13sljp9 {
  width: 100%;
}